
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>{{title}}</span>
      <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      
     
      
    </a>
  </div>
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    
      
  
      <span><p  style='font-size: 40px;;' class=" d-flex">{{ title }}<p></span>
  
      
  
    <!-- Resources -->
    <!-- <h2 class="lead">Resources</h2> -->
    <p class="lead pt-4 d-flex justify-content-center">A simple application for Downloading Youtube's  and Amazon's Comments</p>
  
    <div class="card-container">
      <a class="card" routerLink='/youtube'>
        
        <span> <p style='font-size: 18px;'>Click to Download Youtube Comments!</p></span>
      </a>
  
        
      <a class="card"  routerLink='/amazon'>
        
        <span> <p style='font-size: 18px;'>Click to Download Amazon Comments!</p></span>
  
            </a>
  
      
  
    </div>

    <div>


    </div>
    
  
    
  
  
  
  
  